{% extends 'adminbase.html.twig' %}
{% block title %}{{ user.name }} Edit User{% endblock %}
{% block body %}
	<div class="app-container">
		<!-- begin app-nabar -->

		<!-- end app-navbar -->
		<!-- begin app-main -->
			<div
			class="app-main" id="main"> <!-- begin container-fluid -->
			<div
				class="container-fluid">
				<!-- begin row -->
				<div class="row">
					<div
						class="col-md-12 m-b-30">


					</div>

				</div>
				<!-- end row -->

				<!--start contact contant-->

				<h2 style="text-align: center">Edit - {{ user.name }}  </h2>
					{{ include('admin/user/_form.html.twig', {'button_label': 'Update'}) }}
					<br>
					<div style="text-align: center">
					{{ include('admin/user/_delete_form.html.twig') }}
					 <br>
					<a class="btn btn-dark" href="{{ path('admin_user_index') }}">back to list</a>


					</div>
				<br>


				<!--end contact contant-->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end app-main -->
	</div>
{% endblock %}
