{% extends 'adminbase.html.twig' %}
{% block title %}User List{% endblock %}
{% block body %}
	<div class="app-container">
		<!-- begin app-nabar -->

		<!-- end app-navbar -->
		<!-- begin app-main -->
			<div
			class="app-main" id="main"> <!-- begin container-fluid -->
			<div
				class="container-fluid">
				<!-- begin row -->
				<div class="row">
					<div
						class="col-md-12 m-b-30">


					</div>

				</div>
				<!-- end row -->

				<!--start contact contant-->
				<h1 style="text-align: center">Users</h1>
				<div class="row">

					<div style="margin: auto; width: 50%; border: 2px ; padding: 10px;">
					<form method="post">
						<input type="text" name="email" style="width: 100%;">
						<div style="margin: auto; width: 50%; padding: 10px;">
						<input class="btn btn-primary" type="submit" value="recherche">
						<a class="btn btn-info"  href="{{ path('admin_user_new') }}">Create new</a>
						</div>
					</form>
					</div>

					<table class="table table-light mb-0">
						<thead>
							<tr>
								<th>Id</th>
								<th>email</th>
								<th>Roles</th>
								<th>name</th>
								<th>surname</th>
								<th>image</th>
								<th>status</th>

								<th>actions</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td>{{ user.id }}</td>
									<td>{{ user.email }}</td>
									<td>{{ user.roles != NULL ? user.roles|json_encode : '' }}</td>
									<td>{{ user.name }}</td>
									<td>{{ user.surname }}</td>
									<td>{{ user.image }}</td>
									<td>{{ user.status }}</td>

									<td>
										<a class="btn btn-primary" href="{{ path('admin_user_show', {'id': user.id}) }}">show</a>
										<a class="btn btn-warning" href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="10">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

				</div>

				<!--end contact contant-->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end app-main -->
	</div>
{% endblock %}
