{% extends 'BaseBackOffice.html.twig' %}

{% block content %}
    
<div class="card" style="width: 100%">
    <h5 class="card-header">Modifier le status du commande</h5>
    <div class="card-body">
    <dl class="row">
        <dt class="col-sm-2">ID Commande</dt>
        <dd class="col-sm-10">{{ cmd.id }}</dd>
        <dt class="col-sm-2">ID Client</dt>
        <dd class="col-sm-10">-</dd>
        <dt class="col-sm-2">Date de creation</dt>
        <dd class="col-sm-10">{{ cmd.datecreer|date('d/m/Y') }}</dd>
        <dt class="col-sm-2">Date de expediration</dt>
        <dd class="col-sm-10">
        {% if cmd.dateexpedirer != NULL %}
        {{ cmd.dateexpedirer|date('d/m/Y') }}
        {% else %}
        -
        {% endif %}
        </dd>
        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">
        {% if cmd.status == 0 %}
            En cours de réparation
        {% elseif cmd.status == 1 %}
            En cours de laivrison
        {% else %}
            Livré
        {% endif %}
        </dd>
        <dt class="col-sm-2">Affecter un livreur</dt>
        <dd class="col-sm-10">
            <form method="POST" name="f" action="{{ path('affecter_livreur', { 'id' : cmd.id }) }}" onSubmit="return verif()">
                <select name="liv">
                    <option value="0">Selection le livreur</option>
                    {% for liv in livs %}
                        <option value="{{ liv.id }}" 
                        {% if cmd.livreur != NULL %}
                        {% if cmd.livreur.id != liv.id %} selected {% endif %}
                        {% endif %}>
                        {{ liv.prenomlivreur }} {{ liv.nomlivreur }}</option>
                    {% endfor %}
                </select>
        </dd>
            <dt class="col-sm-2"></dt>
            <dd class="col-sm-10">
            <input type="submit" class="btn btn-success btn-sm" value="Affecter">
            </dd>
        </form>

</dl>
    </div>
</div>


{% endblock %}