<h1>CLassrooms</h1>
<br><a href="/classroom_add"><Button>Add</Button></a>
<br><br><br><br>
<table border="1">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>

        <th>
            Nombre
        </th>
    </tr>
    {% for class in classrooms %}
    <tr>
        <td>
            {{ class.id }}
        </td>
        <td>
            {{ class.name }}
        </td>
        <td>
            {{ class.nbe }}
        </td>
        <td>
            <a href="/classroom_update/{{ class.id }}"><button>Update</button></a>
            <a href="/classroom_delete/{{ class.id }}"><button>Delete</button></a>

        </td>
    </tr>
    {% endfor %}
</table>
